@use 'colors' as s;

@mixin Form {
    text-align: center;
    padding: 3em;
    background-color: s.$N-warm-grey;
    .input-group span{
        font-size: 14;
        color: red;
    }
    #subit-error{
        color: red;
    }
    .input-group span i{
        color: green;
    }
    input{
        margin-top: 2em;
        padding: 0.5em;
        position: relative;
        left: 45%;
        display: block;
        border-radius: 20px;
    }
    #name{
        border: 1px solid s.$N-cool-grey;
    }
    #email{
        
        border: 1px solid s.$N-cool-grey;
    }
    #submit{
        font-size: 1em;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background-color: s.$T-orange-80;
        color: s.$P-white;
    }
    label{
        position: relative;
        bottom: 1em;
        font-size: 1em
    }
}