@use 'colors' as s;
@use 'fonts';
@use 'reset';
@use 'nav';
@use 'infobox';
@use 'interestform';
@use 'iconlinks';
@use 'footer';
// font-family: 'Ubuntu Mono', monospace;
// font-family: 'Ubuntu Condensed', sans-serif;
// font-family: 'Ubuntu', sans-serif;
*{
@include reset.Reset;
}
// landing page
nav{
@include nav.mainNav;
}

#infoBox{
@include infobox.mainInfoBox;
}

#interestForm{
@include interestform.interestForm;
}

#iconLinks{
@include iconlinks.iconLinks;
}

footer{
@include footer.Footer;
}