@use 'colors' as s;
@use 'fonts';
@use 'nav';
@use 'infobox';
@use 'interestform';
@use 'iconlinks';
// font-family: 'Ubuntu Mono', monospace;
// font-family: 'Ubuntu Condensed', sans-serif;
// font-family: 'Ubuntu', sans-serif;

// landing page
nav{
@include nav.mainNav;
}

#infoBox{
@include infobox.mainInfoBox;
}

#interestForm{
@include interestform.interestForm;
}

#iconLinks{
@include iconlinks.iconLinks;
}

footer{
    border-top: 1px solid s.$N-cool-grey ;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2em;
    padding-bottom: 2em;
    p{
        text-align: left;
        font-size: 1em;
        color: s.$P-black;
    }
    .iconrows{
        display: flex;
        .footericons{
            flex: 33.33%;
            padding: 5px;
            img{
                max-width: 25%;
            }
        }
    }
}